NASA_API_KEY=""
NASA_APOD_URL="https://api.nasa.gov/planetary/apod?api_key="

ADVICE_URL="https://api.adviceslip.com/advice"

PRODUCT_DATA_URL="https://dummyjson.com/products/category/groceries?limit=10&skip=0&select=id,title,description,category,price,rating,stock,brand,sku,thumbnail"

SUPABASE_URL="https://zcpwfvrcycjtpiyamhfx.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjcHdmdnJjeWNqdHBpeWFtaGZ4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMjU2Mjk3MiwiZXhwIjoyMDQ4MTM4OTcyfQ.i-Ym4muYHPGwNEIgQDLk2tCkhkh1HE00LG3YAw3m8wU"
